/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

	/* 

	2. Basic Structure 
	==============================

	*/ 

	/* 	2.1. Header */ 

		#site-navigation-secondary ul { 
		float: none;
	}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

	/* 

	2. Basic Structure 
	==============================

	*/ 

	/* 	2.1. Header */ 

		#site-navigation-secondary ul { 
		float: none;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

	/* 

	2. Basic Structure 
	==============================

	*/ 

	/* 	2.1. Header */ 

		#site-navigation-secondary ul { 
		float: none;
	}

}